# 환경 변수 파일
.env
.env.local
.env.development
.env.test
.env.production

# 로그 파일
logs
*.log
npm-debug.log*

# 디렉토리
node_modules/
data/

# OS 생성 파일
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE 설정
.vscode/
.idea/
*.swp
*.swo